# Node modules
**/node_modules/**

# Cache / Temp / Output
**/.vuepress/.cache/**
**/.vuepress/.temp/**
**/.vuepress/dist/**

# Local drafts / sync files
docs/_temp/
docs/_gsdata_/

# macOS
**/.DS_Store